<div class="container">
    <div class="row">
        <div class="col-md-6"  *ngFor="let a of authorList">
            <mat-card class="example-card" style ="margin:'5px'; display: 'block'">
                <mat-card-header>
                  <mat-card-subtitle>Name : {{a.name}}</mat-card-subtitle>
                  
                  <mat-card-actions>
                    <button mat-button (click)="addFavt(a)" *ngIf="check(a._id) == false">Add Favt</button>
                    <button mat-button (click)="removeFavt(a)" *ngIf="check(a._id) == true">Remove Favt</button>
                  </mat-card-actions>
                </mat-card-header>  
                <mat-card-subtitle>Bio : {{a.bio}}</mat-card-subtitle>
                <a target="_blank" href="{{a.link}}">Link : {{a.link}}</a>
              </mat-card>
                            
        </div>
    </div>
</div>
